*{<meta charset="UTF-8">}*
<!DOCTYPE html>

<html>
    <head>
        <title>#{get 'title' /}</title>
        <meta charset="utf-8">
        <link rel="shortcut icon" type="image/gif" href="@{'/public/images/pc_profAni03.gif'}">
        #{get 'moreStyles' /}
        <link rel="stylesheet" media="screen,print" href="@{'/public/lib/bootstrap/css/bootstrap.min.css'}">
        <link rel="stylesheet" media="screen,print" href="@{'/public/lib/bootstrap/css/bootstrap-theme.min.css'}">
        <link rel="stylesheet" media="screen,print" href="@{'/public/stylesheets/main.css'}">
        <script src="@{'/public/lib/jquery/jquery-1.11.1.min.js'}" type="text/javascript" charset="utf-8"></script>
        <script src="@{'/public/lib/bootstrap/js/bootstrap.min.js'}" type="text/javascript" charset="utf-8"></script>
        #{get 'moreScripts' /}
    </head>
    <body>
        #{doLayout /}
    </body>
</html>
